<svg class="fixed inset-0 flex items-center justify-center bg-black w-full h-full" viewBox="0 0 600 100">
  <text id="wlcm-text" x="300" y="60" font-size="48" fill="white" opacity="0" text-anchor="middle">Welcome</text>
  <text id="to-text" x="300" y="60" font-size="48" fill="white" opacity="0" text-anchor="middle">To</text>
  
  <text id="full-logo" x="300" y="60" font-size="48" fill="white" opacity="0" font-family="'Muli', sans-serif" text-anchor="middle">
    Shashank Shetty
  </text>
  <text id="portfolio" x="295" y="60" font-size="36" fill="white" opacity="0" text-anchor="middle" >Portfolio</text>
</svg>
