<nav class="navbar">
  <a routerLink="/">HOME</a>
  <a routerLink="/about">ABOUT</a>
  <a routerLink="/projects">PROJECTS</a>
  <a routerLink="/contact">CONTACT</a>
</nav>

<section class="hero">
  <h1 class="intro">Hi! Welcome to My Portfolio</h1>

  <h1 class="name">Shashank Shetty</h1>

  <p class="role">Software Engineer &#64; Yucca Scalian</p>

  <p class="typing">
    Building <span>{{ currentText }}</span>
  </p>
  <section class="stats">
    <h2>Problem Solving</h2>

    <img
      [src]="'https://leetcode-stats.vercel.app/api?username=shashank_013'"
      alt="LeetCode Stats"
    />

    <img
      [src]="
        'https://streak-stats.demolab.com?user=shashankkshettyy&theme=tokyonight&hide_border=true'
      "
      alt="GitHub Streak"
    />
  </section>
</section>

<canvas #bgCanvas></canvas>
