
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  position: relative;  /* ensure it's above canvas */
  z-index: 10;         /* higher than canvas */
}
.navbar a {
  margin-left: 30px;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #007B7F; /* subtle hover effect */
}

/* Hero section */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin: 0;
  color: #ffffff;
}

.hero p {
  font-size: 1.5rem;
  color: #444;
  margin-top: 10px;

}
:host {
  display: block;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0d0d0d;
  overflow: hidden;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
}





